.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    min-height: 50px;
    width: 200px;
    padding: 0 1rem;
    color: inherit;
    font-size: 10px;
    border: 1px solid #e67e22;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submit {
    min-height: 55px;
    font-weight: bold;
    width: 100px;
    /*padding: 0.5em 1em;*/
    padding: 0 1rem;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #e67e22;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
    background-color: #f39c12;
}

.input:focus,
.input:focus-visible {
    border-color: #f39c12;
    outline: none;
}
